













/* Responsive Design */

  


@media (max-width: 480px) {
   .container{
    padding:  4%;
   }
     .food-icon {
        font-size: 30px; /* Even smaller icons on mobile */
    } 

    .image-item img {
        width: 140px;
        height: 140px;
    }

    .image-text {
        font-size: 12px;
    }
}




.star-icon {
     color: gold; 
   
}
