

@media (max-width: 480px) {
    .heading {
        font-size: 24px;
    }

    .banner3-image-item img {
        width: 140px;
        height: 140px;
    }

    .banner3-image-text {
        font-size: 12px;
    }
}