
  /* Responsive Design */
  @media (max-width: 768px) {
    /* .company-logo img {
      width: 120px; 
    } */
/*   
    .social-media-logos a {
      width: 35px; 
      height: 35px;
    } */
  
    /* .social-icon {
      font-size: 18px; 
    } */
  }